{% extends "taform/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />

<h1>Teaching Assistant Assignment</h1>
<p>Run the follow to output the graduate student to course assignements.</p> 
<p><b>Please note:</b> for the most accurate results ensure the number of TA's per course are correct and that all Instructors have submitted their rankings.</p>
<p class="successMessage">{{no_apps_error}}</p>
<p class="successMessage">{{no_results_error}}</p>
<p class="successMessage">{{no_results_error_1}}</p>
<p class="successMessage">{{no_results_error_2}}</p>
<p class="successMessage">{{no_results_error_3}}</p>

<table class="tg">
    <tr>
        <td><b>Last successful algorithm run:</b></td>
        {% if display_date %}
        <td>{{display_date}}&emsp;</td>
        {% else %}
        <td>N/A&emsp;</td>
        {% endif %}
    </tr>
</table>

<br></br>

<table class="tg">
    <tr>
        <td>1. Run the aglorithm to see teaching assistant to course assignments.&emsp;</td>
        <td>
        <form action="{% url 'algorithm' %}" method="post">
        {% csrf_token %}
            <input type="submit" name="algo_run" value="Go!"/>
        </form>
        </td>
    </tr>
    <tr>
        <td>2. Export algorithm results.&emsp;</td>
        <td>
        <form action="{% url 'algorithm' %}" method="post">
        {% csrf_token %}
            <input type="submit" name="algo_export" value="Export"/>
        </form>
        </td>
    </tr>
</table>

<br>
{% if courses_supply|length > 133 %}
<h1>Outstanding number of positions</h1>
{% endif %}
{{courses_supply|safe}}
{% endblock %}
{% if matches|length > 133 %}
<p>A course with four half ta positions would be represented with four rows. With more than 1 TA assigned to the course, you should decide who gets which position based on student preference and matching score (lower the better).</p>
<h1>Course units with a teaching assistant assignment</h1>
{% endif %}
{{matches|safe}}
