{% extends "taform/base.html" %}
{% block content %}

{% load static %}
<script type="text/javascript" src="{% static 'taform/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'taform/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'taform/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'taform/js/app-jquery.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/jquery-ui.css' %}" />

<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

{% if AC %}
    <table class="table2">
        <tr>
            <td><b>Application status:</b></td>
            {% if app_status ==  'Closed' %}
            <td id="p01">{{app_status}}</td>
            {% else %}
            <td class="green_txt">{{app_status}}</td>
            {% endif %}
            <td></td>
        </tr>
        <tr>
            <td><b>Last status change:</b></td>
            <td>{{status_date}}&emsp;</td>
            <td><form action="{% url 'application' %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="app_status" value="Change Application Status"/>
            </form></td>
        </tr>
    </table>
{% endif %}

{% if app_status ==  'Closed' and AC == False %}

<h1>Management Sciences TA Application Form</h1>

<p id="p01">Application forms are closed at this time. Please check back later.</p>

{% else %}

<div>
    {% autoescape off %}{{ front_matter }}{% endautoescape %}
</div>

{% load taform_extras %}

<form enctype="multipart/form-data" autocomplete="off" action="{% url 'application' %}" method="POST" accept-charset="utf-8" >

{% csrf_token %}
<font class="font">{{error}}</font>
<br></br>
<h3>Basic Information</h3>

<table class="table2">
    <tr>        
        <td>First Name</td>
        <td>
            {{s_form.first_name.help_text}}
        </td>
        <td>&emsp;{{s_form.first_name}}&emsp;</td>

        <td>Last Name</td>
        <td>
            {{s_form.last_name.help_text}}
        </td>
        <td>&emsp;{{s_form.last_name}}&emsp;</td>

        <td>Quest ID</td>
        <td class="help-tip">
            <p>{{s_form.quest_id.help_text}}</p>
        </td>
        <td>&emsp;{{s_form.quest_id}}&emsp;</td>
    </tr>

    <tr>
        <td>Student ID</td>      
        <td class="help-tip">
            <p>{{s_form.student_id.help_text}}</p>
        </td>
        <td>&emsp;{{s_form.student_id}}&emsp;</td>

        <td>Current Program</td>
        <td class="help-tip">
            <p>{{s_form.current_program.help_text}}</p>
        </td>
        <td>&emsp;{{s_form.current_program}}&emsp;</td>

        <td>Department</td>
        <td>
            {{s_form.department.help_text}}
        </td>
        <td>&emsp;{{s_form.department}}&emsp;</td>

    </tr>

    <tr>
        <td>Citizenship</td>
        <td></td>
        <td>&emsp;<label onchange="visaFunction();">{{s_form.citizenship}}</label>&emsp;</td>

        <td>Enrollment</td>
        <td></td>
        <td>&emsp;{{s_form.enrolled_status}}&emsp;</td>

        <td>Completed <a target="_blank" href = https://uwaterloo.ca/engineering/teaching-and-learning/teaching-assistants>ExpecTAtions</a></td>
        <td></td>
        <td>{{s_form.ta_expectations}}&nbsp;</td>

    </tr>

     <tr>
        <td><label hidden id="visaID">Student Visa Expiry Date</label></td>
        <td class="help-tip", id="expiryDate" hidden>
            <p>{{s_form.student_visa_expiry_date.help_text}}</p>
        </td>
        <td id="expiryInput" hidden>&emsp;{{s_form.student_visa_expiry_date}}&emsp;</td>

        <td>&emsp;</td>
        <td>&emsp;</td>
        <td>&emsp;</td>

        <td>&emsp;</td>
        <td>&emsp;</td>
        <td>&emsp;</td>
     </tr>

</table>

<table>
    <br></br>
    <tr>
        <td>Position type preference (select all that apply)</td>
        <td class="help-tip"><p>Preferences are taken into consideration but are not guaranteed.</p></td>
        <td>&emsp;{{s_form.full_ta}}&nbsp;Full TA&emsp;{{s_form.half_ta}}&nbsp;Half TA</td>
    </tr>
</table>

<h3>CV Upload</h3>
To help instructors select TAs, please upload a CV or resume (PDF only):<br><br>
{{s_form.cv}}
<br></br>
<h3>Course Application</h3>

<div id="divWordWrap">
    <p><b>Application Instructions:</b> You are encouraged to apply for many 
    positions to increase your chance of receiving a TA position. Please verify 
    that you are available for all of the TA requirements by reviewing the 
    schedule for each course before applying. <p>

    <p>For each course, please enter your preference. See the options below for details:</p>
    <ul>
        <li>I prefer to TA this course</li>
        <li>I am able to TA this course</li>
        <li>I would prefer not to TA this course</li>
        <li>I am unable to TA this course</li>
    </ul>
</div>

<div id="container">
    <div id="row">
        <div id="left">
            <b>Courses</b>
        </div>
    </div>
{% for i in courses %}
<div id="row">
    <div id="left">
        <div id="divWordWrap2">
            <a target="_blank" href="http://www.adm.uwaterloo.ca/cgi-bin/cgiwrap/infocour/salook.pl?sess={{i.term}}&subject={{i.course_subject}}&cournum={{i.course_id}}">{{i.course_subject}} {{i.course_id}} Sec {{i.section}} - {{i.course_name}} - {{i.instructor_name}}</a></div></div>
        <div class="middle">
            {{app_form|get_at_index:forloop.counter0}}
        </div>
    </div>
</div>
<br>
{% endfor %}

<br></br>
<h3>Confirmation</h3>
<div id="divWordWrap">
    I fully understand that I can only submit one application per academic term, 
    and that once the application is submitted, no changes or modifications of 
    any sort can be done to my application.
</div><br>
<div id="divWordWrap">
    In addition to the above information, an application for a teaching assistant 
    position implies that the applicant agrees to the following conditions of 
    employment, and gives the department permission to verify that the student 
    meets these conditions via examination of the student record.
</div>
<div id="divWordWrap">
For full details on the Responsibilities and Requirements of a Management 
Sciences Teaching Assistantship please read in full 
<a target="_blank" href=https://uwaterloo.ca/management-sciences/graduate-students/teaching-assistantships-management-sciences>teaching assistantships management sciences</a>.
</div>

<div id="divWordWrap">
    <ul>
        <li><input type="checkbox" class="number" value="One">&nbsp;I confirm that I do not have any outstanding English Language Proficiency requirements as part of my conditions of admission for my Graduate Studies program.</li><br>
        <li><input type="checkbox" class="number" value="Two">&nbsp;I understand that as a Full-Time registered graduate students I am not permitted to be employed by the University for more than an average of (10) ten hours per week per term.</li><br>
        <li><input type="checkbox" class="number" value="Three">&nbsp;I acknowledge that I will be available from the first day of the first month of the term to the last day of the last month of the term.</li><br>
        <li><input type="checkbox" class="number" value="Four">&nbsp;I have read and understand fully the Responsibilities and Requirements of being a Management Sciences Teaching Assistant</li>
    </ul>
</div>

<p><b>To submit your application you must agree to the above terms.</b></p>
<input type="submit" id ="btn" value="Submit" disabled>
</form>

{% endif %}
</body>

{% endblock %}