{% load staticfiles %}
<script src="{% static 'taform/js/app.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />


<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
{% load taform_extras %}
<form enctype="multipart/form-data" autocomplete="off" action="." method="POST" accept-charset="utf-8" >
{% csrf_token %}
<table>
{{ s_form }}
</table>
{% for i in courses %}
        <div>
        {{i.term}}
        {{i.section}}
        {{i.course_name}}
        {{i.instructor_name}}
        {{i.instructor_email}}
        {{app_form|get_at_index:forloop.counter0}}
        </div>
{% endfor %}


<input type="submit" value="Apply">
</form>
</body>

<h5>CSS Example</h5>