<html>
<link rel="shortcut icon" href="{{ STATIC_URL }}/static/favicon/favicon.ico">
<header id = "banner"></header>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
{% if AC %}
<table align="right">
    <tr>
        <td>
            <form>
                <button class="AC_button", formaction="{% url 'home' %}">Home</button>
            </form>
        </td>
        <td>&emsp;</td>
        <td>
            <form>
                <button class="AC_button", formaction="{% url 'logout' %}">Logout</button>
            </form>
        </td>
    </tr>
</table>
{% endif %}
{% block content %}
{% endblock %}
<footer></footer>
</body>
</html>