{% extends "taform/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />

<h1>Upload Courses</h1>

<p>You would like to upload the following data. Is this correct? If yes, select "Submit". If no, select "Cancel". </p>
<p class="successMessage">Please note: Submitting this data will reset the database for the upcoming term and all existing applications will be deleted. </p>

<br><br>
<table class="tg">
  <tr>
    <th class="tg-8fvv">Term</th>
    <th class="tg-8fvv">Course Subject</th>
    <th class="tg-8fvv">Course ID</th>
    <th class="tg-8fvv">Section</th>
    <th class="tg-8fvv">Course Name</th>
    <th class="tg-8fvv">Instructor Name</th>
    <th class="tg-8fvv">Instructor Email</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>{{ course.term }}</td>
    <td>{{ course.course_subject }}</td>
    <td>{{ course.course_id }}</td>
    <td>{{ course.section }}</td>
    <td>{{ course.course_name }}</td>
    <td>{{ course.instructor_name }}</td>
    <td>{{ course.instructor_email }}</td>
  </tr>
  {% endfor %}
</table>
<br>
<form action="{% url 'course_list' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="submit" class="submitButton" id="btnShow" name="Submit" value="Submit"/>
  <input type="submit" class="submitButton" name="Cancel" value="Cancel"/>
</form>

{% endblock %}