{% extends "taform/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />
<h1>Upload Courses</h1>
<p class="failureMessage">{{error_no_course}}</p>
<p class="failureMessage">{{error_no_course_1}}</p>
<p class="failureMessage">{{error_no_course_2}}</p>

<p class="failureMessage">{{error}}</p>

<form action="{% url 'course_list' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<p>Please ensure the file you upload is in CSV format. This file must contain the course ID, name, instructor and email information. </p><p>For the field "Section," you may enter the leading 0's (i.e. 001) or leave it as a single digit (i.e. 1) and the system will add the leading 0's. 
  <p><b>Please note this will remove existing data. Do not upload duplicate courses.</b></p>
   <br>
   <table class="tg">
   	<tr>
   		<td>1. Download the exising course upload template:</td>
   		<td><input type="submit" name="course_export" value="Download Template"/></td>
   	</tr>
   	<tr>
   		<td>2. Update course information in the .csv file.</td>
   	</tr>
   	<tr>
   		<td>3. Select the updated course .csv file to upload:</td>
   		<td><input type="file" name="csv_file" /></td>
   	</tr>
   </table>
    <br>
    <input type="submit" class="submitButton" name="Upload" value="Upload"/>
</form>

{% endblock %}
