{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />

<form>
    <button class="button" formaction="{% url 'home' %}">Home</button>
</form>

<h1>Upload Courses</h1>

<div id="font">{{error}}</div>

<form action="{% url 'course_list' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<p>Please ensure the file you upload is in CSV format. This file must contain the course ID, name, instructor and email information.<p id="p01"> Please note this will remove existing data.</p>
    <input type="submit" name="course_export" value="Download Course Upload Template"/>
    <br><br>
    <input type="file" name="csv_file" />
    <input type="submit" name="Upload" value="Upload"/>
</form>

