{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />
    <title>Home</title>
</head>
<body>
    
    <form>
        {% csrf_token %}
        <button class="button" formaction="{% url 'logout' %}">Logout</button>
    </form>
    
    <h1><legend>TA Application Home Page</legend></h1>

    <table class="tg">
        <tr>
            <th class="tg-8fvv">Step</th>
            <th class="tg-8fvv">Process</th>
            <th class="tg-8fvv">Description</th>
        </tr>
        <tr>
            <td class="tg-yw4l">1</td>
            <td class="tg-yw4l"><a href="taform/course_list.html">Upload Courses</a></td>
            <td class="tg-yw4l">Import the upcoming term's courses.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">2</td>
            <td class="tg-yw4l"><a href="upload_front_matter.html">Upload Front Matter</a></td>
            <td class="tg-yw4l">Edit the front matter of the application.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">3</td>
            <td class="tg-yw4l"><a href="application.html">TA Application</a></td>
            <td class="tg-yw4l">Preview and make the application live.</td>
        </tr>
    </table>
</body>
</html>