{% extends "taform/base.html" %}
{% block content %}
{% load static %}

<table align="right">
    <tr>
        <td></td>
        <td>&emsp;</td>
        <td>
            <form>
                <button class="AC_button", formaction="{% url 'logout' %}">Logout</button>
            </form>
        </td>
    </tr>
</table>

<html>
    <link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />
<head>
    <title>Home</title>
</head>
<body>    
    <h1><legend>TA Application Home Page</legend></h1>

    <table class="tg">
        <tr>
            <th class="tg-8fvv">Step</th>
            <th class="tg-8fvv">Process</th>
            <th class="tg-8fvv">Description</th>
        </tr>
        <tr>
            <td class="tg-yw4l">1</td>
            <td class="tg-yw4l"><a href="{% url 'password_change' %}">Password 
            Change</a></td>
            <td class="tg-yw4l">If you are a new AC, the password needs to be 
            changed to maintain a secure system. In addition, use your
             discretion to determine when the password should be changed.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">2</td>
            <td class="tg-yw4l"><a href="taform/course_list.html">Upload Courses</a></td>
            <td class="tg-yw4l">For each term, a csv file needs to be uploaded that 
            identifies important information regarding each of the courses that
             will be offered. This task must be completed prior to the TA 
            Application Form becoming live.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">3</td>
            <td class="tg-yw4l"><a href="upload_front_matter.html">Upload 
            Front Matter</a></td>
            <td class="tg-yw4l">The TA Application Form has a Front Matter 
            section. This section identifies important information that graduate
             students need to be aware of prior to applying. Should this 
            information change, you are able to change the content through 
            this process.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">4</td>
            <td class="tg-yw4l"><a href="application.html">TA Application</a></td>
            <td class="tg-yw4l">When the upcoming terms courses have been added
             to the system, the AC must make the TA Application Form 'live'. 
             This allows graduate students to apply for a TA position. The AC must 
            then close the form when the application period has ended. 
            The AC may also preview the form here.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">5</td>
            <td class="tg-yw4l"><a href="number_tas.html">Assign Number of TAs</a></td>
            <td class="tg-yw4l">The AC is responsible for determining the number
             of TA's that are required for each course in the upcoming term. 
            These values may be changed while the TA Application Form is live, 
            but should not be changed when applications are not longer accepted.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">6</td>
            <td class="tg-yw4l"><a href="ranking_status.html">Ranking Status</a></td>
            <td class="tg-yw4l">Once the application period has ended, the AC is
             responsible for notifying Instructors that they need to rank
              appplicants. System generated emails can be sent out to all 
             Instructors here. This step will also provide a summary of which 
             Instructors have ranked their applicants. The AC also has the ability 
            to override Instructor preference for each course in this step.</td>
        </tr>
        <tr>
            <td class="tg-yw4l">7</td>
            <td class="tg-yw4l"><a href="export.html">Export Results</a></td>
            <td class="tg-yw4l">Before running the matching algorithm, 
            the AC must export the number of TAs required for each course 
            as well as student and Instructor preferences. This must be completed 
            for the algorithm to run. The TA Application Form should be 'closed'
             before this step happens.</td>
        </tr>
    </table>
</body>
</html>
{% endblock %}