{% extends "taform/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />
<script type="text/javascript" src="{% static 'taform/js/app.js' %}"></script>
<h1>Instructor Rankings</h1>
{% for course in courses %}

<table style="font-weight:bold">
<tr>
  <td>Course</td>
  <td>{{ course.course_name }}</td>
</tr>
<tr>
  <td>Section</td>
  <td>{{ course.section }}</td>
</tr>
<tr>
  <td>Instructor&emsp;</td>
  <td>{{ course.instructor_name }}</td>
</tr>
</table>

{% endfor %}

<br>

{% if is_ranking_submitted %}
  <div id="font">{{success}}</div>
{% endif %}

<br>
<p>Please Rank the following applicants:</p>
<form enctype="multipart/form-data" autocomplete="off" action="." method="POST" accept-charset="utf-8">
{% csrf_token %}

<table class="tg">
  <tr>
    <th class="tg-8fvv">First Name</th>
    <th class="tg-8fvv">Last Name</th>
    <th class="tg-8fvv">Email</th>
    <th class="tg-8fvv">Reason for applying</th>
    <th class="tg-8fvv">Resume</th>
    <th class="tg-8fvv">Ranking</th>
  </tr>
  {% for i in student %}
  <tr>
    <td>{{ i.first_name}}</td>
    <td>{{ i.last_name }}</td>
    <td><a href="mailto:{{ i.email }}">{{ i.email }}</a></td>
    <td>{{ i.reason}}</td>
    <td>{% if i.cv %}
   	  <a href={{ i.cv.url }} target="_blank">Resume</a>
		{% else %}
  		No Resume
		{% endif %}
	</td>
    <td>
      {% for f in i_forms %}
        {% if forloop.parentloop.counter == forloop.counter %} 
          {{f.instructor_preference}}
        {% endif %}
      {% endfor %}
  </td>
  </tr>
  {% endfor %}
</table>
<p>Please note rankings can only be submit rankings once all students have been ranked.
<br><br>Rankings can be submitted again if changes are required.</p>
  <input type="submit" id="btnShow" name="Submit" value="Submit"/>
</form>
{% endblock %}