{% extends "taform/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />
<script type="text/javascript" src="{% static 'taform/js/app.js' %}"></script>
<body onload="hardRefresh();" onpageshow="if (event.persisted) hardRefresh();" onunload="hardRefresh();">

{% if AC %}
<table align="right">
    <tr>
        <td>
            <form>
                <button class="AC_button", formaction="{% url 'ranking_status' %}">Back</button>
            </form>
        </td>
        <td>&emsp;</td>
    </tr>
</table>
{% endif %}

<h1>Instructor Rankings</h1>

<table class="boldTable">
<tr>
  <td class="boldTD">Course:</td>
  <td>{{ course.0.course_name }}</td>
</tr>
<tr>
  <td class="boldTD">&emsp;</td>
  <td>{{ course.0.course_subject }} {{course.0.course_id}}</td>
</tr>
<tr>
  <td class="boldTD">Section:</td>
  <td>{{ course.0.section }}</td>
</tr>
<tr>
  <td class="boldTD">Instructor:&emsp;</td>
  <td>{{ course.0.instructor_name }}</td>
</tr>
</table>

<br>

{% if is_ranking_submitted %}
  <div class="successMessage">{{success}}</div>
  <div> 
  Latest submission: {{updated_at.month}}/{{updated_at.day}}/{{updated_at.year}}, {{updated_at.hour}}:{{updated_at.minute}}:{% if updated_at.second < 10 %}0{{updated_at.second}} 
  {% else %}{{updated_at.second}} 
  {% endif %}
  </div>
{% endif %}

<br>
<p>Please Rank the following applicants:</p>
<form enctype="multipart/form-data" autocomplete="off" action="." method="POST" accept-charset="utf-8">
{% csrf_token %}

<table class="tg">
  <tr>
    <th class="tg-8fvv">First Name</th>
    <th class="tg-8fvv">Last Name</th>
    <th class="tg-8fvv">Email</th>
    <th class="tg-8fvv">Resume</th>
    <th class="tg-8fvv">Reason for applying</th>
    <th class="tg-8fvv">Ranking</th>
  </tr>
  {% for app in s_form %}
  <tr>
    <td>{{app.first_name.value}}</td>
    <td>{{app.last_name.value}}</td>
    <td><a href="mailto:{{app.quest_id.value}}@edu.uwaterloo.ca">{{app.quest_id.value}}@edu.uwaterloo.ca</a></td>
    {% if app.cv.value %}
    <td><a href="/taform/media/{{app.cv.value}}" target="_blank">Resume</td>
      {% else %}
    <td>No Resume</td>
    {% endif %}
    {% for rank in a_form %}
      {% if forloop.parentloop.counter0 == forloop.counter0 %}
    <td>{{rank.reason.value}}</td>
    <td>{{rank.instructor_preference}}</td>
      {% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

<p>Rankings can be submitted again if changes are required.</p>
  <input type="submit" class="submitButton" id="btnShow" name="Submit" value="Submit"/>
</form>
{% endblock %}