{% extends "taform/base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'taform/js/app.js' %}" type="text/javascript" ></script>
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />

<h1>Teaching Assistantships in Management Sciences</h1>

<form enctype="multipart/form-data" autocomplete="off" action="." method="post" accept-charset="utf-8" >

{% csrf_token %}
{% if AC %}
<div class="successMessage">---The following text can be changed in the Change Application Form step---</div>
{% endif %}
<div>
    {% autoescape off %}{{ intro_page }}{% endautoescape %}
</div>
{% if AC %}
<div class="successMessage">---Editing ability stops here---</div>
{% endif %}
<input type="submit" class="submitButton" name="moveOn" id="moveOn" value="Proceed to Application">
</form>
{% endblock %}