{% extends "taform/base.html" %}
{% block content %}

{% load static %}
<script type="text/javascript" src="{% static 'taform/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'taform/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'taform/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'taform/js/app-jquery.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'taform/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'taform/css/jquery-ui.css' %}" />

<h1>Upload Course Information</h1>
{% if errors %}
<p>The following are errors from the CSV upload:</p>
{% endif %}
{% for error in errors%}
  <p class="failureMessage">{{error}}</p>
{% endfor %}

<form action="{% url 'upload_course_list' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<p>Please ensure the file you upload is in a <b>Comma Seperated Values</b> format.</p>
  <p>For the field
    "Section," you may enter the leading 0's (i.e. 001) or leave it as a single
     digit (i.e. 1) and the system will add the leading 0's.</p>
  <p>You may wish to export the course and application data for historical data purposes. You may do this via steps 5 and 8 from the Home page. </p>
  <p><span class="warningMessage">WARNING:</span> Uploading new course data will reset 
  database. ALL APPLICATIONS, COURSES AND ALGORITHM RUNS WILL BE DELETED.</p>

   <br>
   <table class="tg">
   	<tr>
   		<td>1. Download the exising course upload template:</td>
   		<td><input type="submit" name="course_export" value="Download Template"/></td>
   	</tr>
   	<tr>
   		<td>2. Update course information in the .csv file.</td>
   	</tr>
   	<tr>
   		<td>3. Select the updated course .csv file to upload:</td>
   		<td><input type="file" name="csv_file" /></td>
   	</tr>
   </table>
    <br>
<div id="course-confirm" title="Confirm Action">
    <p class="courseUploadPopupText">WARNING: SUBMITTING THIS DATA WILL RESET 
      THE DATABASE. <br>Are you sure?</p>
</div>
    <input type="submit" class="courseUploadButton" name="courseUpload" value="Upload"/>
</form>
{% if df_courses|length > 133 %}
<p class="successMessage">The following courses are now available for students to apply.</p> 
<p>Please verify all courses for the upcoming term is here with the correct information. You can continue uploading courses until the applications are open, once applications are open you cannot make course edits.</p> 
<p>You <b>should not</b> upload courses again once applications start or existing applications will be deleted.</p>
{% endif %}
{{df_courses|safe}}
{% endblock %}
