{% extends "admin/base_site.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href=.>Login</a>
&rsaquo; Login
</div>
{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="submit-row">
        <input type="submit" value="  Login  " ></input>
    </div>
  </form>

Trouble signing in? <a href="{% url 'password_reset' %}">Reset password</a>
{% endblock %}