h5 {
    color: green;
}
#container {
    display: table;
    }
#row  {
    display: table-row;
    }
#left, #right, #middle {
    display: table-cell;
    vertical-align: top;
    }
 #divWordWrap{
	word-wrap: break-word;
	width:850px;
}
 #divWordWrap2{
	word-wrap: break-word;
	width:500px;
}
#application_form{
	vertical-align: bottom;
}
#leftAlign{
    margin-left: 500px;
}